@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.our-key-differences {
  @include media(tablet-up) {
    padding: 0 16px;
  }

  .cards-wrapper {
    padding: 0;
    max-width: 100%;
    margin: 20px 0 0;
    position: relative;
    background-color: var(--pwm-gold-200);

    @include media(tablet-up) {
      max-width: 1232px;
      margin: 0 auto;
    }

    .key-differences-cards {
      display: flex;
      gap: 0;

      .key-list {
        border: none;
        background-color: unset;
        display: flex;
        flex-direction: column;
        gap: 50px;
        background: var(--pwm-gold-200);
        padding: 56px 32px;
        width: 100%;

        @include media(tablet-up) {
          flex-direction: row;
          align-items: center;
          gap: 72px;
          padding: 20px;
        }

        .cards-card-image {
          min-height: 358px;
          height: auto;
          width: auto;

          @include media(tablet-up) {
            max-width: 548px;
            max-height: 580px;
            width: 100%;
          }

          * {
            min-height: 358px;
          }

          .key-picture {
            line-height: 0;
            height: 100%;
            display: block;

            .key-image {
              object-fit: fill;
              width: 100%;

              @include media(tablet-up) {
                aspect-ratio: unset;
              }
            }
          }
        }

        .cards-card-body {
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 24px;

          @include media(tablet-up) {
            max-width: 460px;
            padding: 139px 0;
          }

          .key-text {
            &-1 {
              margin: 0 0 26px;

              @include font-style(
                28px,
                var(--sub-header-large-line-height),
                var(--pwm-gold-700),
                var(--regular),
                var(--title)
              );

              @include media(tablet-up) {
                margin: 0 0 43px;
                font-size: var(--heading-pwm-h4-size);
                line-height: var(--heading-pwm-h4-line-height);
              }
            }

            &-2 {
              margin: 0;

              @include font-style(
                var(--body-xlarge-regular-size),
                var(--body-xlarge-regular-line-height),
                var(--blue-1-800-primary),
                var(--regular),
                var(--body)
              );

              @include media(tablet-up){
                font-size: var(--body-xlarge-regular-size);
                line-height: var(--body-xlarge-regular-line-height);
              }
            }

            &-3 {
              margin: 0;
              padding: 0 0 40px;

              @include font-style(
                var(--paragraph-medium-regular-size),
                var(--paragraph-medium-regular-line-height),
                var(--blue-1-800-primary),
                var(--regular),
                var(--body)
              );

              @include media(tablet-up) {
                padding: 0 0 67px;
                font-size: var(--body-medium-regular-size);
                line-height: 24px;
              }
            }
          }
        }
      }
    }

    .swiper-pagination {
      display: flex;
      justify-content: center;
      gap: 10px;
      bottom: 56px;
      margin: 0 auto;
      top: unset;
      left: 50%;
      max-width: max-content;
      transform: translateX(-50%);

      @include media(tablet-up) {
        bottom: 155px;
        left: calc(50% + 24px);
        transform: unset;
      }

      &-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--neutrals-400);
        opacity: 1;
        margin: 0;

        &.swiper-pagination-bullet-active {
          background-color: var(--blue-1-800-primary);
        }
      }
    }
  }
}
