@import "../../../styles/common-theme/css/fonts.css";

@media (width >= 768px) {
  .section.our-key-differences {
    padding: 0 16px;
  }
}

.section.our-key-differences .cards-wrapper {
  padding: 0;
  max-width: 100%;
  margin: 20px 0 0;
  position: relative;
  background-color: var(--pwm-gold-200);
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper {
    max-width: 1232px;
    margin: 0 auto;
  }
}

.section.our-key-differences .cards-wrapper .key-differences-cards {
  display: flex;
  gap: 0;
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list {
  border: none;
  background-color: unset;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: var(--pwm-gold-200);
  padding: 56px 32px;
  width: 100%;
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .key-differences-cards .key-list {
    flex-direction: row;
    align-items: center;
    gap: 72px;
    padding: 20px;
  }
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-image {
  min-height: 358px;
  height: auto;
  width: auto;
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-image {
    max-width: 548px;
    max-height: 580px;
    width: 100%;
  }
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-image * {
  min-height: 358px;
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-image .key-picture {
  line-height: 0;
  height: 100%;
  display: block;
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-image .key-picture .key-image {
     object-fit: fill;
  width: 100%;
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-image .key-picture .key-image {
    aspect-ratio: unset;
  }
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body {
    max-width: 460px;
    padding: 139px 0;
  }
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body .key-text-1 {
  margin: 0 0 26px;
  font-size: 28px;
  line-height: var(--sub-header-large-line-height);
  color: var(--pwm-gold-700);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body .key-text-1 {
    margin: 0 0 43px;
    font-size: var(--heading-pwm-h4-size);
    line-height: var(--heading-pwm-h4-line-height);
  }
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body .key-text-2 {
  margin: 0;
  font-size: var(--body-xlarge-regular-size);
  line-height: var(--body-xlarge-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body .key-text-2 {
    font-size: var(--body-xlarge-regular-size);
    line-height: var(--body-xlarge-regular-line-height);
  }
}

.section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body .key-text-3 {
  margin: 0;
  padding: 0 0 40px;
  font-size: var(--paragraph-medium-regular-size);
  line-height: var(--paragraph-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .key-differences-cards .key-list .cards-card-body .key-text-3 {
    padding: 0 0 67px;
    font-size: var(--body-medium-regular-size);
    line-height: 24px;
  }
}

.section.our-key-differences .cards-wrapper .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  bottom: 56px;
  margin: 0 auto;
  top: unset;
  left: 50%;
  max-width: -moz-max-content;
  max-width: max-content;
  transform: translateX(-50%);
}

@media (width >= 768px) {
  .section.our-key-differences .cards-wrapper .swiper-pagination {
    bottom: 155px;
    left: calc(50% + 24px);
    transform: unset;
  }
}

.section.our-key-differences .cards-wrapper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: var(--neutrals-400);
  opacity: 1;
  margin: 0;
}

.section.our-key-differences .cards-wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--blue-1-800-primary);
}