@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.pwm-group {
  max-width: 100%;
  width: 100%;
  margin: 40px auto;

  @include media(tablet-up) {
    max-width: 1264px;
    padding: 0 16px;
  }

  .pwm-child-1 {
    max-width: 100%;
    padding: 0 16px 16px;

    @include media(tablet-up) {
      padding: 0 0 32px;
    }

    .item-1 {
      margin: 0;

      @include font-style(
        28px,
        var(--sub-header-large-line-height),
        var(--pwm-gold-700),
        var(--regular),
        var(--title)
      );

      @include media(tablet-up) {
        font-size: var(--heading-pwm-h4-size);
        line-height: var(--heading-pwm-h4-line-height);
      }

      strong {
        display: block;
        color: var(--blue-1-800-primary);
        font-weight: var(--regular);

        @include media(tablet-up) {
          display: inline-block;
        }
      }
    }
  }

  .column-main-wrap {
    padding: var(--spacing-32) 12px var(--spacing-32) 16px;
    background-color: var(--pwm-gold-200);

    @include media(tablet-lg-up) {
      max-width: 100%;
      padding: 36px 242px 36px 57px;
      position: relative;
    }

    @media screen and (900px <= width <= 1100px) {
      padding: 36px 140px 36px 57px;
    }

    .columns-wrapper.item-1 {
      .innerchild-1 {
        gap: 24px;

        @include media(tablet-up) {
          justify-content: space-between;
          gap: 16px;

          .childitem {
            flex: unset;

            &-2{
              .childinner-1{
                min-width: max-content;
              }
            }
          }
        }

        .childinner-1 {
          margin: 0;
          
          @include font-style(
            32px,
            40px,
            var(--pwm-gold-700),
            var(--semibold),
            var(--title)
          );

          @include media(tablet-up) {
            margin: 0 0 4px;
            color: var(--pwm-gold-800);
            font-size: var(--heading-h3-size);
            line-height: var(--heading-h3-line-height);
          }
        }

        .childinner-2 {
          margin: 0;

          @include font-style(
            var(--body-large-medium-size),
            var(--body-large-medium-line-height),
            var(--pwm-gold-700),
            var(--medium),
            var(--body)
          );

          @include media(tablet-up) {
            color: var(--pwm-gold-800);
            font-size: var(--body-medium-medium-size);
            line-height: var(--body-medium-medium-line-height);
          }
        }
      }
    }

    .columns-wrapper {
      &:not(:nth-last-child(2)) {
        padding: 0 0 24px;
        margin: 0 0 24px;
        border-bottom: 1px solid var(--pwm-gold-500);

        @include media(tablet-up) {
          padding: 0 0 32px;
          margin: 0 0 32px;
        }
      }

      &:not(:first-of-type) {
        @include media(tablet-lg-up) {
          margin: 0 213px 32px 0;
        }

        @media screen and (900px <= width <= 1100px) {
          margin: 0 105px 32px 0;
        }

        .innerchild-1 {
          gap: 24px;

          @include media(tablet-up) {
            gap: var(--spacing-60);
            align-items: unset;
          }

          @media screen and (769px <= width <=900px) {
            flex-direction: unset;
            flex-wrap: wrap;
          }

          .childitem {
            &:not(:last-of-type) {
              padding: 0 0 24px;
              border-bottom: 1px solid var(--pwm-gold-500);

              @include media(tablet-up) {
                padding: 0;
                border: none;
              }
            }

            .childinner-1 {
              margin: 0;
              list-style: none;

              @include media(tablet-up) {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
              }

              .childitem {
                &-1 {
                  text-decoration-line: underline;
                  margin: 0 0 6px;

                  @include font-style(
                    var(--body-large-medium-size),
                    var(--body-large-medium-line-height),
                    var(--pwm-gold-700),
                    var(--medium),
                    var(--body)
                  );

                  @include media(tablet-up) {
                    font-size: var(--body-medium-medium-size);
                    line-height: var(--body-medium-medium-line-height);
                  }
                }

                &-2 {
                  margin: 0 0 40px;

                  @include font-style(
                    var(--paragraph-small-regular-size),
                    var(--paragraph-small-regular-line-height),
                    var(--neutrals-700),
                    var(--regular),
                    var(--body)
                  );

                  @include media(tablet-up) {
                    margin: 0 0 48px;
                    font-size: var(--body-small-regular-size);
                    line-height: var(--label-large-line-height);
                  }
                }

                &-3 {
                  margin: 0 0 4px;

                  @include font-style(
                    20px,
                    24px,
                    var(--pwm-gold-700),
                    var(--semibold),
                    var(--title)
                  );

                  @include media(tablet-up) {
                    font-size: var(--heading-h6-size);
                    line-height: var(--heading-h6-line-height);
                    margin-top: auto;
                  }
                }

                &-4 {

                  @include font-style(
                    var(--paragraph-small-regular-size),
                    var(--paragraph-small-regular-line-height),
                    var(--neutrals-700),
                    var(--regular),
                    var(--body)
                  );

                  @include media(tablet-up) {
                    font-size: var(--body-small-regular-size);
                    line-height: var(--label-large-line-height);
                    margin-top: auto;
                  }
                }
              }
            }
          }
        }
      }

      &:first-of-type {
        padding: 0 25px 24px 0;

        @include media(tablet-up) {
          padding: 0 0 32px;
          margin: 0 0 32px;
        }
      }
    }

    & .default-content-wrapper {
      display: none;

      @include media(tablet-lg-up) {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}
