@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.pwm-group {
  max-width: 100%;
  width: 100%;
  margin: 40px auto;

  @include media(tablet-up) {
    max-width: 1264px;
    padding: 0 16px;
  }

  .pwm-child-1 {
    max-width: 100%;
    padding: 0 16px 16px;

    @include media(tablet-up) {
      padding: 0 0 32px;
    }

    .item-1 {
      margin: 0;

      @include font-style(
        var(--heading-pwm-h5-size),
        var(--sub-header-large-line-height),
        var(--pwm-gold-700),
        var(--regular),
        var(--title)
      );

      @include media(tablet-up) {
        font-size: var(--heading-pwm-h4-size);
        line-height: var(--heading-pwm-h4-line-height);
      }

      strong {
        display: block;
        color: var(--blue-1-800-primary);

        @include media(tablet-up) {
          display: inline-block;
        }
      }
    }
  }

  .column-main-wrap {
    padding: var(--spacing-32) 12px var(--spacing-32) 16px;
    background-color: var(--pwm-gold-200, #f0e6dc);

    @include media(tablet-lg-up) {
      max-width: 100%;
      padding: 36px 242px 36px 57px;
      position: relative;
    }

    @media screen and (900px <= width <= 1100px) {
      padding: 36px 140px 36px 57px;
    }

    .columns-wrapper.item-1 {
      .innerchild-1 {
        gap: 24px;

        @include media(tablet-up) {
          justify-content: space-between;
          gap: 16px;

          .childitem {
            flex: unset;

            &-2{
              .childinner-1{
                min-width: max-content;
              }
            }
          }
        }

        .childinner-1 {
          margin: 0 0 18px;

          @include font-style(
            32px,
            40px,
            var(--pwm-gold-700),
            var(--semibold),
            var(--title)
          );

          @include media(tablet-up) {
            margin: 0 0 4px;
            color: var(--pwm-gold-800);
            font-size: var(--heading-h3-size);
            line-height: var(--heading-h3-line-height);
          }
        }

        .childinner-2 {
          margin: 0;

          @include font-style(
            var(--body-large-medium-size),
            var(--body-large-medium-line-height),
            var(--pwm-gold-700),
            var(--medium),
            var(--body)
          );

          @include media(tablet-up) {
            color: var(--pwm-gold-800);
            font-size: var(--body-medium-medium-size);
            line-height: var(--body-medium-medium-line-height);
          }
        }
      }
    }

    .columns-wrapper {
      &:not(:nth-last-child(2)) {
        padding: 0 0 24px;
        margin: 0 0 24px;
        border-bottom: 1px solid var(--pwm-gold-500);

        @include media(tablet-up) {
          padding: 0 0 32px;
          margin: 0 0 32px;
        }
      }

      &:not(:first-of-type) {
        @media screen and (width>=900px) {
          margin: 0 213px 32px 0;
        }

        @media screen and (900px <= width <= 1100px) {
          margin: 0 105px 32px 0;
        }

        .innerchild-1 {
          gap: 24px;

          @media screen and (width>768px) {
            gap: var(--Spacing-60, 60px);
            align-items: unset;
          }

          @media screen and (769px <= width <=900px) {
            flex-direction: unset;
            flex-wrap: wrap;
          }

          .childitem {
            &:not(:last-of-type) {
              padding: 0 0 24px;
              border-bottom: 1px solid var(--PWM-Gold-500, #c2aa74);

              @media screen and (width>768px) {
                padding: 0;
                border: none;
              }
            }

            .childinner-1 {
              margin: 0;
              list-style: none;

              @media screen and (width>768px) {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
              }

              .childitem {
                &-1 {
                  color: var(--PWM-Gold-700, #866e44);
                  font-feature-settings:
                    "ss01" on,
                    "ss04" on,
                    "cv01" on,
                    "cv02" on,
                    "cv03" on,
                    "cv04" on,
                    "cv06" on,
                    "cv09" on,
                    "cv10" on,
                    "cv11" on;

                  /* Mobile/Body/Large-medium */
                  font-family: var(--Body, Inter);
                  font-size: var(--Body-Large-medium-Size, 18px);
                  font-style: normal;
                  font-weight: 500;
                  line-height: var(
                    --Body-Large-medium-Line-Height,
                    24px
                  ); /* 133.333% */
                  text-decoration-line: underline;
                  margin: 0 0 6px;

                  @media screen and (width>768px) {
                    font-size: var(--Body-Medium-medium-Size, 16px);
                    line-height: var(--Body-Medium-medium-Line-Height, 20px);
                  }
                }

                &-2 {
                  color: var(--Neutrals-700, #616161);
                  font-feature-settings:
                    "ss01" on,
                    "ss04" on,
                    "cv01" on,
                    "cv02" on,
                    "cv03" on,
                    "cv04" on,
                    "cv06" on,
                    "cv09" on,
                    "cv10" on,
                    "cv11" on;

                  /* Mobile/Paragraph/Small-regular */
                  font-family: var(--Body, Inter);
                  font-size: var(--Paragraph-Small-regular-Size, 14px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: var(
                    --Paragraph-Small-regular-Line-Height,
                    20px
                  ); /* 142.857% */
                  margin: 0 0 40px;

                  @media screen and (width>768px) {
                    margin: 0 0 48px;
                    font-size: var(--Body-Small-regular-Size, 14px);
                    line-height: var(--Label-Large-Line-Height, 20px);
                  }
                }

                &-3 {
                  color: var(--PWM-Gold-700, #866e44);
                  font-feature-settings:
                    "ss01" on,
                    "ss04" on,
                    "cv01" on,
                    "cv02" on,
                    "cv03" on,
                    "cv04" on,
                    "cv06" on,
                    "cv09" on,
                    "cv10" on,
                    "cv11" on;

                  /* Mobile/Header/H6 */
                  font-family: var(--TItle, Inter);
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 24px; /* 120% */
                  margin: 0 0 4px;

                  @media screen and (width>768px) {
                    font-size: var(--Heading-H6-Size, 24px);
                    line-height: var(--Heading-H6-Line-Height, 28px);
                    margin-top: auto;
                  }
                }

                &-4 {
                  color: var(--Neutrals-700, #616161);
                  font-feature-settings:
                    "ss01" on,
                    "ss04" on,
                    "cv01" on,
                    "cv02" on,
                    "cv03" on,
                    "cv04" on,
                    "cv06" on,
                    "cv09" on,
                    "cv10" on,
                    "cv11" on;

                  /* Mobile/Paragraph/Small-regular */
                  font-family: var(--Body, Inter);
                  font-size: var(--Paragraph-Small-regular-Size, 14px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: var(
                    --Paragraph-Small-regular-Line-Height,
                    20px
                  ); /* 142.857% */

                  @media screen and (width>768px) {
                    font-size: var(--Body-Small-regular-Size, 14px);
                    line-height: var(--Label-Large-Line-Height, 20px);
                    margin-top: auto;
                  }
                }
              }
            }
          }
        }
      }

      &:first-of-type {
        padding: 0 25px 24px 0;

        @media screen and (width>768px) {
          padding: 0 0 32px;
          margin: 0 0 32px;
        }
      }
    }

    & .default-content-wrapper {
      display: none;

      @media screen and (width>=900px) {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}
