@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

header {
    .header.pms-header {
        margin: 0;

        a.button:any-link,
        button {
            box-sizing: inherit;
            max-width: inherit;
            margin: 0;
            border: unset;
            border-radius: unset;
            padding: 0;
            font-family: var(--body, Inter);
            font-style: normal;
            font-weight: 400;
            line-height: 0;
            text-align: center;
            text-decoration: none;
            background-color: transparent;
            color: var(--neutrals-white, #FFF);
            cursor: pointer;
            overflow: unset;
            text-overflow: inherit;
            white-space: inherit;
        }

        .nav-wrapper {
            nav {
                &[aria-expanded='true'] {
                    // min-height: inherit;

                    .nav-sections {
                        .default-content-wrapper {
                            .nav-sec-sec1 {
                                span {
                                    position: unset;
                                    flex: 0 1 auto;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: unset;
                                    gap: 0;
                                    cursor: pointer;

                                    &[aria-expanded='false'] {
                                        color: var(--neutrals-white);
                                        font-feature-settings: var(--font-features-default);
                                        font-family: var(--body);
                                        font-size: var(--body-small-regular-size);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: var(--label-large-line-height);
                                        padding: 0;
                                    }

                                    &:first-child {
                                        // display: none;

                                        @include media (mobile-ed) {
                                            display: block;
                                        }
                                    }

                                    button {
                                        line-height: 0;

                                        a {
                                            background-color: transparent;
                                            color: var(--neutrals-white, #FFF);
                                            font-feature-settings: var(--font-features-default);
                                            font-family: var(--body, Inter);
                                            font-size: var(--body-small-regular-size, 14px);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: var(--label-large-line-height, 20px);
                                        }
                                    }

                                    // a {
                                    //     background-color: transparent;
                                    //     color: var(--neutrals-white, #FFF);
                                    //     font-feature-settings: var(--font-features-default);
                                    //     font-family: var(--body, Inter);
                                    //     font-size: var(--body-small-regular-size, 14px);
                                    //     font-style: normal;
                                    //     font-weight: 400;
                                    //     line-height: var(--label-large-line-height, 20px);
                                    // }
                                }
                            }
                        }

                        .nav-drop {
                            @include media (mobile-ed) {
                                font-size: var(--body-medium-semibold-size, 16px);
                                font-style: normal;
                                font-weight: 600;
                                line-height: var(--paragraph-small-line-height, 20px);
                            }

                            &::after {
                                display: none;
                                content: unset;

                                @include media (mobile-ed) {
                                    display: block;
                                    content: '';
                                }
                            }
                        }
                    }

                    .nav-tools {
                        .nav-tools-cont1 {
                            >ul {
                                >span {
                                    .icon {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }

                            .nav-tools-sub {

                                &2,
                                &3 {
                                    display: none;
                                }
                            }
                        }
                    }

                    .header-top {
                        width: 50%;
                        display: flex;
                        grid-area: header-top;
                        align-items: center;
                        justify-self: flex-end;
                        list-style: none;
                        padding: 8px 0;
                        border-bottom: 1px solid #FFFFFF1F;

                        @include media (mobile-ed) {
                            display: block;
                            width: 100%;
                            grid-column: 1 / -1;
                            padding: 0;
                            border: unset;
                        }

                        .header-top-cont1 {
                            line-height: inherit;

                            .header-top-sec1 {
                                .nav-drop[data-aria-expanded='true'] {
                                    color: var(--blue-1800-primary, #2E2A94);
                                    font-feature-settings: var(--font-features-default);
                                    font-family: var(--body, Inter);
                                    font-size: var(--body-medium-semibold-size, 16px);
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: var(--body-medium-semibold-line-height, 20px);

                                    &::after {
                                        display: none;

                                        @include media (mobile-ed) {
                                            display: block;
                                            content: '';
                                        }
                                    }
                                }

                                li,
                                span {
                                    line-height: 0;

                                    button {
                                        background-color: transparent;
                                        color: var(--neutrals-200);

                                        a {
                                            display: flex;
                                            align-items: center;
                                            gap: 4px;
                                            color: var(--neutrals-200);
                                            font-feature-settings: var(--font-features-default);
                                            font-family: var(--body);
                                            font-size: var(--paragraph-small-size);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: var(--paragraph-small-line-height);
                                            background-color: #000;
                                            margin: 0;
                                            padding: 0;
                                            border: none;
                                            border-radius: unset;
                                            overflow: unset;
                                            text-overflow: unset;
                                            white-space: nowrap;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                .nav-sections {
                    .default-content-wrapper {
                        .nav-sec-sec1 {
                            list-style: none;

                            >li,
                            >span {
                                &[data-aria-expanded='true'] {
                                    .nav-sec-inner-text1 {
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        width: 100%;
                                        height: 100vh;
                                        scroll-behavior: unset;
                                        top: 100%;
                                        white-space: initial;
                                        overflow: hidden;
                                        backdrop-filter: blur(0.1px);
                                        background: #1111114d;

                                        @include media (mobile-ed) {
                                            display: block;
                                            position: unset;
                                            left: unset;
                                            width: 100%;
                                            height: 100%;
                                            scroll-behavior: unset;
                                            top: unset;
                                            white-space: initial;
                                            overflow: unset;
                                            background: transparent;
                                            backdrop-filter: unset;
                                        }

                                        .nav-sec-list1 {
                                            background: transparent;
                                            padding: 0;
                                            width: 100%;
                                            margin: 0 auto;
                                            position: absolute;
                                            top: 0;
                                            z-index: 1;

                                            @include media (mobile-ed) {
                                                position: unset;
                                            }

                                            .section {
                                                // max-width: 1232px;
                                                max-width: 1366px;
                                                width: 100%;
                                                margin: 0 auto;
                                                overflow: unset;
                                                display: flex;
                                                align-items: center;
                                                justify-content: end;

                                                @include media (mobile-ed) {
                                                    width: 100%;
                                                    height: auto;
                                                    padding-left: 0;
                                                    flex-direction: column;
                                                    align-items: flex-start;
                                                    gap: 16px;
                                                    align-self: stretch;
                                                }

                                                .default-content-wrapper {
                                                    height: 100%;
                                                    display: flex;
                                                    width: 597px;
                                                    min-height: 224px;
                                                    padding-left: 20px;
                                                    border-radius: 0 0 0 8px;
                                                    background: var(--neutrals-white, #FFF);

                                                    @include media (mobile-ed) {
                                                        flex-direction: column;
                                                        width: 100%;
                                                        min-height: inherit;
                                                        border-radius: unset;
                                                        padding-left: 0;
                                                    }

                                                    .sub-popup-sec {
                                                        &1 {
                                                            // width: 82.7%;
                                                            width: 359px;
                                                            display: flex;
                                                            padding: 20px 0;
                                                            flex-direction: column;
                                                            align-items: flex-start;
                                                            gap: 8px;
                                                            align-self: stretch;

                                                            @include media (mobile-ed) {
                                                                width: 100%;
                                                                padding: 0;
                                                                border-left: 1px solid var(--neutrals-300, #E0E0E0);
                                                                padding-left: 16px;
                                                            }

                                                            li,
                                                            span {
                                                                @include media (mobile-ed) {
                                                                    padding: 8px 0;

                                                                    &:first-child {
                                                                        padding-top: 0;
                                                                    }

                                                                    &:last-child {
                                                                        padding-bottom: 0;
                                                                        text-align: left;
                                                                    }
                                                                }

                                                                a {
                                                                    display: flex;
                                                                    padding: 0 var(--spacing-none, 0);
                                                                    align-items: center;
                                                                    gap: 4px;
                                                                    color: var(--neutrals-800, #424242);
                                                                    font-feature-settings: var(--font-features-default);
                                                                    font-family: var(--body, Inter);
                                                                    font-size: var(--body-small-regular-size, 14px);
                                                                    font-style: normal;
                                                                    font-weight: 400;
                                                                    line-height: var(--label-large-line-height, 20px);

                                                                    @include media (mobile-ed) {
                                                                        // color: var(--neutrals-black, #111);
                                                                        font-feature-settings: var(--font-features-default);
                                                                        font-family: var(--body, Inter);
                                                                        font-size: var(--paragraph-small-size, 14px);
                                                                        font-style: normal;
                                                                        font-weight: 400;
                                                                        line-height: var(--paragraph-small-line-height, 20px);
                                                                    }

                                                                    span {
                                                                        display: flex;
                                                                        align-items: flex-start;
                                                                        width: 24px;
                                                                        height: 24px;
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        &2 {
                                                            // width: 37.6%;
                                                            width: 217px;
                                                            display: flex;
                                                            padding: var(--spacing-16, 16px) var(--spacing-16, 16px) var(--spacing-16, 16px);
                                                            flex-direction: column;
                                                            gap: 8px;
                                                            align-self: stretch;
                                                            align-items: flex-start;
                                                            background: var(--neutrals-100, #F5F5F5);
                                                            position: relative;

                                                            @include media (mobile-ed) {
                                                                // padding: var(--spacing-12, 12px);
                                                                display: flex;
                                                                width: 100%;
                                                                border-radius: 4px;
                                                                flex-direction: column;
                                                                justify-content: flex-start;
                                                                align-items: flex-start;
                                                                gap: var(--spacing-8, 8px);
                                                                align-self: stretch;
                                                                background-color: transparent;
                                                                margin-top: 28px;
                                                                padding: 0;
                                                                border-left: 1px solid var(--neutrals-300, #E0E0E0);
                                                                padding-left: 16px;
                                                            }

                                                            li,
                                                            span {
                                                                color: var(--neutrals-800, #424242);
                                                                font-feature-settings: var(--font-features-default);
                                                                font-family: var(--body, Inter);
                                                                font-size: var(--body-small-regular-size, 14px);
                                                                font-style: normal;
                                                                font-weight: 400;
                                                                line-height: var(--label-large-line-height, 20px);

                                                                @include media (mobile-ed) {
                                                                    padding: 8px 0;
                                                                    color: var(--neutrals-black, #111);
                                                                    text-align: left;

                                                                    &:first-child {
                                                                        padding-top: 0;
                                                                    }

                                                                    &:last-child {
                                                                        padding-bottom: 0;
                                                                        text-align: left;
                                                                    }
                                                                }

                                                                &:first-child {
                                                                    color: var(--blue-1800-primary, #2E2A94);
                                                                    font-feature-settings: var(--font-features-default);
                                                                    font-family: var(--body, Inter);
                                                                    font-size: var(--body-xsmall-semibold-size, 12px);
                                                                    font-style: normal;
                                                                    font-weight: 600;
                                                                    line-height: var(--body-xsmall-semibold-line-height, 14px);
                                                                    margin-bottom: 4px;

                                                                    @include media (mobile-ed) {
                                                                        margin-left: -18px;
                                                                        padding-left: 2px;
                                                                        padding-bottom: 16px;
                                                                        margin-bottom: 0;
                                                                        background: #FFF;
                                                                        font-size: var(--body-small-medium-size, 14px);
                                                                        font-style: normal;
                                                                        font-weight: 500;
                                                                        line-height: var(--body-small-medium-line-height, 16px);
                                                                        text-align: left;
                                                                    }
                                                                }

                                                                a {
                                                                    color: var(--neutrals-800, #424242);
                                                                    font-feature-settings: var(--font-features-default);
                                                                    font-family: var(--body, Inter);
                                                                    font-size: var(--body-small-regular-size, 14px);
                                                                    font-style: normal;
                                                                    font-weight: 400;
                                                                    line-height: var(--label-large-line-height, 20px);

                                                                    @include media (mobile-ed) {
                                                                        color: var(--neutrals-black, #111);
                                                                    }
                                                                }

                                                                &:nth-child(2) {
                                                                    @include media (mobile-ed) {
                                                                        padding-top: 0;
                                                                        text-align: left;
                                                                    }
                                                                }
                                                            }

                                                            &::before {
                                                                content: "";
                                                                position: absolute;
                                                                inset: 0;
                                                                left: 90%;
                                                                right: 50%;
                                                                margin-right: -50vw;
                                                                background-color: var(--neutrals-100, #F5F5F5);
                                                                z-index: 1;

                                                                @include media (mobile-ed) {
                                                                    content: unset;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                &.investor-services {
                                                    .default-content-wrapper {
                                                        display: flex;

                                                        .sub-popup-sec {
                                                            &1 {
                                                                // width: 51.43%;
                                                                display: flex;
                                                                padding: 20px 0;
                                                                flex-direction: column;
                                                                align-items: flex-start;
                                                                gap: 8px;
                                                                align-self: stretch;

                                                                @include media (mobile-ed) {
                                                                    width: 100%;
                                                                    padding: 0;
                                                                    border-left: 1px solid var(--neutrals-300, #E0E0E0);
                                                                    padding-left: 16px;
                                                                }

                                                                li,
                                                                span {
                                                                    a {
                                                                        display: flex;
                                                                        padding: 0 var(--spacing-none, 0);
                                                                        align-items: center;
                                                                        gap: 4px;
                                                                        color: var(--blue-1-800-primary, #2E2A94);
                                                                        font-feature-settings: var(--font-features-default);
                                                                        font-family: var(--body, Inter);
                                                                        font-size: var(--body-small-regular-size, 14px);
                                                                        font-style: normal;
                                                                        font-weight: 400;
                                                                        line-height: var(--label-medium-line-height, 16px);

                                                                        @include media (mobile-ed) {
                                                                            color: var(--blue-1800-primary, #2E2A94);
                                                                            font-feature-settings: var(--font-features-default);
                                                                            font-family: var(--body, Inter);
                                                                            font-size: var(--label-small-size, 12px);
                                                                            font-style: normal;
                                                                            font-weight: 400;
                                                                            line-height: var(--label-small-line-height, 16px);
                                                                        }

                                                                        span {
                                                                            display: flex;
                                                                            align-items: flex-start;
                                                                            width: 24px;
                                                                            height: 24px;

                                                                            @include media (mobile-ed) {
                                                                                width: 16px;
                                                                                height: 16px;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }

                                                            // &2{}
                                                        }
                                                    }
                                                }

                                                &.our-strategie {
                                                    .default-content-wrapper {
                                                        .sub-popup-sec {
                                                            &2 {
                                                                align-items: center;
                                                                justify-content: center;

                                                                .comlist.sub-popup-sub1 {
                                                                    position: relative;
                                                                    display: flex;
                                                                    width: 123.865px;
                                                                    height: 71.609px;
                                                                    align-items: center;
                                                                    gap: -52.931px;
                                                                    color: var(--blue-1800-primary, #2E2A94);
                                                                    font-feature-settings: var(--font-features-default);
                                                                    font-family: var(--body, Inter);
                                                                    font-size: 10.889px;
                                                                    font-style: normal;
                                                                    font-weight: 600;
                                                                    line-height: 13.612px;

                                                                    &::before {
                                                                        content: "";
                                                                        position: absolute;
                                                                        top: 0;
                                                                        left: -12px;
                                                                        display: block;
                                                                        background: url('/icons/equity-pms.svg');
                                                                        background-repeat: no-repeat;
                                                                        background-position: center;
                                                                        width: 67.068px;
                                                                        height: 71.277px;
                                                                        flex-shrink: 0;
                                                                    }
                                                                }

                                                                @include media (mobile-ed) {
                                                                    display: none !important;
                                                                }

                                                                .sub-popup-sub1:first-child {
                                                                    @include media (mobile-ed) {
                                                                        padding: 4px 0;
                                                                        text-align: left;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // &[aria-expanded='false'] {}
            }
        }


    }
}