header {
  height: 60px;
}
@media (width >= 900px) {
  header {
    height: 88px;
  }
}
header .nav-wrapper {
  background-color: var(--PWM-Gold-900, #5d4f2e);
  width: 100%;
  z-index: 200;
  position: fixed;
}
@media (width >= 900px) {
  header .nav-wrapper {
    position: relative;
  }
}
header .nav-wrapper:has(nav[aria-expanded=true]) {
  height: 100dvh;
}
header .nav-wrapper nav {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template: "brand tools hamburger" auto "sections sections sections" 1fr/auto 1fr auto;
  gap: 0 12px;
  margin: auto;
  max-width: 1248px;
  height: 64px;
  padding: 8px 16px;
  font-family: var(--body-font-family);
}
@media (width >= 900px) {
  header .nav-wrapper nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }
}
header .nav-wrapper nav p {
  margin: 0;
  line-height: 1;
}
header .nav-wrapper nav a:-moz-any-link {
  color: currentcolor;
}
header .nav-wrapper nav a:any-link {
  color: currentcolor;
}
header .nav-wrapper nav .nav-hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (width >= 900px) {
  header .nav-wrapper nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}
header .nav-wrapper nav .nav-hamburger button {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}
header .nav-wrapper nav .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}
header .nav-wrapper nav .nav-brand picture {
  line-height: 0;
  height: 100%;
  display: block;
}
header .nav-wrapper nav .nav-brand picture img {
  width: 78px;
  height: 48px;
}
header .nav-wrapper nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}
@media (width >= 900px) {
  header .nav-wrapper nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }
}
header .nav-wrapper nav .nav-tools {
  grid-area: tools;
}
header .nav-wrapper nav .nav-tools .header-tool {
  margin: 0;
  list-style: none;
}
header .nav-wrapper nav .nav-tools .header-tool .header-toollist:first-of-type {
  display: none;
}
header .nav-wrapper nav .nav-tools .header-tool .header-toollist:last-of-type {
  position: relative;
  display: flex;
  justify-content: end;
}
header .nav-wrapper nav .nav-tools .header-tool .header-toollist:last-of-type .toollist-item-1 {
  border-radius: 2.769px;
  background: var(--Neutrals-White, #fff);
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 8px;
  color: var(--PWM-Gold-900, #5d4f2e);
  text-align: center;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-family: var(--Body, Inter);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 11.077px; /* 110.769% */
}
header .nav-wrapper nav .nav-tools .header-tool .header-toollist:last-of-type .toollist-item-1 .toolsubitem {
  width: 7px;
  height: 4px;
  display: flex;
}
header .nav-wrapper nav .nav-tools .header-tool .header-toollist:last-of-type .toollist-item-2 {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: var(--Border-Radius-4, 4px);
  box-shadow: 0 0 14px 0 rgba(40, 40, 40, 0.06);
  background: var(--PWM-Gold-100, #f8f3ef);
  margin: 27px 0 0;
  list-style: none;
  display: none;
}
header .nav-wrapper nav .nav-tools .header-tool .header-toollist:last-of-type .toollist-item-2 .toolsubitem a {
  width: 100%;
  display: block;
  padding: 12px;
  color: #866e44;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  /* Mobile/Body/XSmall-regular */
  font-family: var(--Body, Inter);
  font-size: var(--Body-XSmall-regular-Size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-XSmall-regular-Line-Height, 14px); /* 116.667% */
}
header .nav-wrapper nav .nav-tools .header-tool .header-toollist:last-of-type.active .toollist-item-2 {
  display: block;
}
header .nav-wrapper nav[aria-expanded=true] {
  grid-template: "brand hamburger" 56px "sections sections" 1fr "tools tools" auto/auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
  height: unset;
  align-items: unset;
}
@media (width >= 900px) {
  header .nav-wrapper nav[aria-expanded=true] {
    min-height: 0;
    overflow: visible;
  }
}
header .nav-wrapper nav[aria-expanded=true] .nav-hamburger {
  height: 44px;
}
header .nav-wrapper nav[aria-expanded=true] .nav-hamburger button .nav-hamburger-icon::after {
  content: "";
  background-image: url("../../icons/hamburger-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  height: 44px;
  display: block;
}
header .nav-wrapper nav[aria-expanded=true] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  background-color: red;
  overflow: auto;
  height: 100dvh;
}
header .nav-wrapper nav[aria-expanded=true] .nav-sections .header-menu {
  list-style: none;
  margin: 0;
}
header .nav-wrapper nav[aria-expanded=true] .nav-sections .header-menu .nav-drop .menulist-item-2 {
  display: none;
}
@media (width >= 900px) {
  header .nav-wrapper nav[aria-expanded=true] .nav-sections {
    align-self: unset;
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .nav-drop::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .nav-drop[aria-expanded=true]::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
  header .nav-wrapper nav[aria-expanded=true] .nav-sections .default-content-wrapper > ul > li[aria-expanded=true] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }
}
header .nav-wrapper nav[aria-expanded=true] .nav-tools {
  display: none;
}
header .nav-wrapper nav[aria-expanded=false] .nav-hamburger {
  height: 24px;
}
header .nav-wrapper nav[aria-expanded=false] .nav-hamburger button .nav-hamburger-icon::after {
  content: "";
  background-image: url("../../icons/hamburger-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: block;
}/*# sourceMappingURL=mo-header.css.map */