@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.alpha-strategist {
  .hero {
    min-height: 660px;
    padding: 0;

    @include media(tablet-up) {
      /* padding: 42px 67px; */
      min-height: 600px;
    }

    img {
      object-fit: fill;
    }

    .strategist {
      &-1 {
        @include media(tablet-up) {
          display: none;
        }
      }
      &-2 {
        display: none;
        @include media(tablet-up){
          display: block;
        }
      }

      &-3 {
        min-height: inherit;
        padding: 54px 17px 55px 15px;
        background: linear-gradient(
          180deg,
          rgba(237, 226, 204, 0) 3.26%,
          #ede2cc 66.54%
        );
        display: flex;

        @include media(tablet-up) {
          width: 80.504%;
          background: linear-gradient(
            252deg,
            rgba(237, 226, 204, 0) 17.58%,
            #ede2cc 87.18%
          );
          padding: 42px 67px;
        }

        @include media(desktop-lg-up) {
          width: 100%;
        }

        .innercontent-1 {
          @include media(desktop-lg-up) {
            max-width: 1232px;
            width: 100%;
            margin: 0 auto;
          }
          .item-1 {
            list-style: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 60px;
            height: 100%;

            @include media(tablet-up) {
              gap: 100px;
              max-width: 494px;
            }

            .listitem {
              &-1 {
                .innerlist {
                  &-1 {
                    max-width: 117px;
                    width: 100%;
                    height: 54px;
                    margin: 0;

                    @include media(tablet-up) {
                      max-width: 146px;
                      height: 67px;
                    }

                    .icon {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  &-2 {
                    list-style: none;
                    margin: 0;

                    .inneritem {
                      &-1 {
                        display: none;

                        @include media(tablet-up) {
                          display: block;
                          margin: 5px 0;
                          @include font-style(
                            var(--body-medium-semibold-size),
                            var(--body-medium-semibold-line-height),
                            var(--neutrals-black),
                            var(--semibold),
                            var(--body)
                          );
                        }
                      }

                      &-2 {
                        display: none;

                        @include media(tablet-up) {
                          display: block;
                          padding: 0 0 18px;
                          @include font-style(
                            var(--body-xsmall-regular-size),
                            var(--body-xsmall-regular-line-height),
                            var(--neutrals-black),
                            var(--regular),
                            var(--body)
                          );
                        }
                      }

                      &-3 {
                        padding: 10px 0 0;

                        @include font-style(
                          var(--body-medium-regular-size),
                          var(--body-medium-regular-line-height),
                          var(--neutrals-black),
                          var(--regular),
                          var(--body)
                        );

                        @include media(tablet-up) {
                          padding: 0;
                          color: var(--pwm-gold-900);
                          font-size: var(--body-medium-regular-size);
                          line-height: var(--body-medium-regular-line-height);
                        }
                      }
                    }
                  }
                }
              }

              &-2 {
                .innerlist {
                  &-1 {
                    margin: 0 0 16px;

                    @include font-style(
                      28px,
                      var(--sub-header-large-line-height),
                      var(--neutrals-black),
                      var(--regular),
                      var(--title)
                    );

                    @include media(tablet-up) {
                      margin: 0 0 8px;
                      color: var(--pwm-gold-900);
                      font-size: var(--heading-pwm-h4-size);
                      line-height: var(--heading-pwm-h4-line-height);
                    }
                  }

                  &-2 {
                    list-style: none;
                    margin: 0;
                    .inneritem {
                      &-1 {
                        &,
                        & p {
                          margin: 0 0 6px;

                          @include font-style(
                            var(--body-small-semibold-size),
                            var(--body-small-semibold-line-height),
                            var(--neutrals-black),
                            var(--semibold),
                            var(--body)
                          );

                          @include media(tablet-up){
                            color: var(--pwm-gold-900);
                            font-size: var(--body-medium-regular-size);
                            line-height: var(--body-medium-regular-line-height);
                            margin: 0 0 24px;
                          }
                        }
                      }
                      &-2 {
                        &,
                        & p {
                          margin: 0 0 30px;

                          @include font-style(
                            var(--paragraph-small-regular-size),
                            var(--paragraph-small-regular-line-height),
                            var(--neutrals-black),
                            var(--regular),
                            var(--body)
                          );

                          @include media(tablet-up) {
                            color: var(--pwm-gold-900);
                            font-size: var(--body-small-regular-size);
                            line-height: var(--label-large-line-height);
                          }
                        }
                      }
                      &-3 {
                        ul {
                          list-style: none;
                          margin: 0;
                          display: flex;
                          flex-direction: column;
                          gap: 20px;

                          @media screen and (width >= 768px) {
                            flex-direction: row;
                          }

                          li {
                            text-align: center;
                            padding: 10px 12px;
                            border-radius: var(--border-radius-4);

                            @include font-style(
                              var(--button-medium-size),
                              var(--button-medium-line-height),
                              null,
                              var(--medium),
                              var(--body)
                            );

                            @include media(tablet-up) {
                              padding: 14px 12px;
                              font-size: var(--button-large-size);
                              line-height: var(--button-large-line-height);
                            }

                            &:first-of-type {
                              border: 1px solid
                                var(--button-primary-default);
                              color: var(--text-button-default);
                            }

                            &:last-of-type {
                              color: var(--text-white);
                              background-color: var(--button-primary-default);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
