.section.sharper-focus {
    /* max-width: 66.745%; */
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.section.sharper-focus .default-content-wrapper {
    margin: 0 0 48px;
    padding: 0;
}

.section.sharper-focus .default-content-wrapper h2 {
    color: var(--PWM-Gold-700, #866E44);
    font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

    /* Mobile/Header/PWM H4 */
    font-family: var(--TItle, Inter);
    font-size: var(--Heading-PWM-H5-Size, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Sub-Header-Large-Line-Height, 32px);
    /* 114.286% */
    margin: 0 0 8px;
    text-wrap-style: balance;
}

.section.sharper-focus .default-content-wrapper p {
    color: var(--blue-1800-primary, #2E2A94);
    font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

    /* Mobile/Body/Medium-regular */
    font-family: var(--Body, Inter);
    font-size: var(--Body-Medium-regular-Size, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Body-Medium-regular-Line-Height, 20px);
    /* 125% */
    margin: 0;
}

.section.sharper-focus .tabs-wrapper {
    max-width: 100%;
    padding: 0;
}

.section.sharper-focus .tabs .tabs-list {
    display: flex;
    gap: 0;
    margin: 0 0 32px;
}

.section.sharper-focus .tabs .tabs-list .tabs-tab {
    border: solid var(--Neutrals-500, #9E9E9E);
    border-width: 0 0 0.5px 0;
    padding: 0 0 8px;
    flex: 0 0 50%;
    background-color: unset;
}

.section.sharper-focus .tabs .tabs-list .tabs-tab[aria-selected='true'] {
    border: solid var(--blue-1800-primary, #2E2A94);
    border-width: 0 0 2px;
}

.section.sharper-focus .tabs button.tabs-tab p {
    color: var(--Neutrals-600, #757575);
    text-align: center;
    font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

    /* Mobile/Body/Medium-medium */
    font-family: var(--Body, Inter);
    font-size: var(--Body-Medium-medium-Size, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Body-Medium-medium-Line-Height, 20px);
    /* 125% */
}

.section.sharper-focus .tabs .tabs-list .tabs-tab[aria-selected='true'] p {
    color: var(--PWM-Gold-700, #866E44);
    font-weight: 500;
}

.section.sharper-focus .tabs .tabs-panel {
    margin: 0;
    padding: 70px 16px 67px;
    border: none;
    overflow: unset;
}

.section.sharper-focus .tabs .tabs-panel .button-container {
    margin: 0;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 308px; */
    /* height: 308px; */
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    gap: 10px;
    padding: 11px;
    margin: 0 auto;
    border-radius: 499.947px;
    border: 0.926px dashed var(--PWM-Gold-700, #866E44);
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type) {
    /* width: 137px; */
    /* height: 137px; */
    width: 48%;
    height: 48%;
    aspect-ratio: 1/1;
    display: inline-block;
    position: relative;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type)>div:first-of-type picture {
    line-height: 0;
    height: 100%;
    display: block;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type)>div:first-of-type img {
    /* width: 137px; */
    /* height: 137px; */
    width: 100%;
    height: 100%;
    position: absolute;
    aspect-ratio: 1/1;
    filter: grayscale();
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type):hover > div img{
    filter: unset;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(1)>div img {
    border-top-left-radius: 100%;
    mask-image: radial-gradient(circle at 104% 102%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(2)>div img {
    border-top-right-radius: 100%;
    mask-image: radial-gradient(circle at -4% 102%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(3)>div img {
    border-bottom-left-radius: 100%;
    mask-image: radial-gradient(circle at 104% -2%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(4)>div img {
    border-bottom-right-radius: 100%;
    mask-image: radial-gradient(circle at -4% -2%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type)>div:last-of-type {
    /* display: none; */
    position: absolute;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(1) >div:last-of-type {
    top: -62px;
    left: -11px;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(2) >div:last-of-type {
    top: -62px;
    right: -11px;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(3) >div:last-of-type {
    bottom: -51px;
    left: -11px;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(4) >div:last-of-type {
    bottom: -51px;
    right: -11px;
}

/* .section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(-n+2)>div:last-of-type {
    background-color: green;
    top: -62px;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:nth-of-type(n+3):not(:last-of-type)>div:last-of-type {
    background-color: blue;
    bottom: -51px;
} */

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type)>div:last-of-type p,
.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type)>div:last-of-type p strong{
    color: var(--Neutrals-800, #424242);
    font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

    /* Mobile/Body/Small-regular */
    font-family: var(--Body, Inter);
    font-size: var(--Body-Small-regular-Size, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Body-Small-regular-Line-Height, 16px);
    /* 114.286% */
    margin: 0;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:not(:last-of-type):hover >div p strong{
    color: var(--blue-1800-primary, #2E2A94);
    font-weight: 600;
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:last-of-type {
    position: absolute;
    /* max-width: 41.776%; */
    max-width: 128px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section.sharper-focus .tabs .tabs-panel .custom-rte>div:last-of-type p {
    margin: 0;
    color: var(--blue-1800-primary, #2E2A94);
    text-align: center;
    font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

    /* Desktop/Body/Medium-semibold */
    font-family: var(--Body, Inter);
    font-size: var(--Body-Medium-semibold-Size, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Body-Medium-semibold-Line-Height, 20px);
    /* 125% */
}