@import "../../../styles/common-theme/css/fonts.css";

/* Animates the image from grayscale to color */
@keyframes highlightimage {
  0%, 24.99% {
    filter: grayscale(0%);
  }

  25%, 100% {
    filter: grayscale(100%);
  }
}

@keyframes highlighttext {
  0%, 24.99% {
    color: #2e2a94;
    font-weight: 600;
  }

  25%, 100% {
    color: #424242;
    font-weight: 400;
  }
}

.section.sharper-focus {
  /* max-width: 66.745%; */
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (width >= 768px) {
  .section.sharper-focus {
    max-width: 66.745%;
    width: 100%;
    padding: 0;
  }
}

.section.sharper-focus .default-content-wrapper {
  margin: 0 0 48px;
  padding: 0;
}

@media (width >= 768px) {
  .section.sharper-focus .default-content-wrapper {
    padding: 0 23px;
  }
}

.section.sharper-focus .default-content-wrapper h2 {
  font-size: 28px;
  line-height: var(--sub-header-large-line-height);
  color: var(--pwm-gold-700);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
  margin: 0 0 8px;
  text-wrap-style: balance;
}

@media (width >= 768px) {
  .section.sharper-focus .default-content-wrapper h2 {
    text-align: center;
    margin: 0 0 20px;
    font-size: var(--heading-pwm-h4-size);
    line-height: var(--heading-pwm-h4-line-height);
  }
}

.section.sharper-focus .default-content-wrapper p {
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
  margin: 0;
}

@media (width >= 768px) {
  .section.sharper-focus .default-content-wrapper p {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
    max-width: 59.473%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

.section.sharper-focus .tabs-wrapper {
  max-width: 100%;
  padding: 0;
}

.section.sharper-focus .tabs-wrapper .tabs-list {
  display: flex;
  gap: 0;
  margin: 0 0 32px;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-list {
    margin: 0 auto 26px;
    max-width: 66.667%;
    width: 100%;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-tab {
  border: solid var(--neutrals-500);
  border-width: 0 0 0.5px;
  padding: 0 0 8px;
  flex: 0 0 50%;
  background-color: unset;
}

.section.sharper-focus .tabs-wrapper .tabs-tab > p {
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  color: var(--neutrals-600);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
  text-align: center;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-tab > p {
    color: var(--neutrals-700);
    font-size: var(--body-xlarge-regular-size);
    line-height: var(--body-xlarge-regular-line-height);
  }
}

.section.sharper-focus .tabs-wrapper .tabs-tab[aria-selected="true"] {
  border: solid var(--blue-1-800-primary);
  border-width: 0 0 2px;
}

.section.sharper-focus .tabs-wrapper .tabs-tab[aria-selected="true"] > p {
  font-weight: var(--medium);
  color: var(--pwm-gold-700);
}

.section.sharper-focus .tabs-wrapper .tabs-panel {
  margin: 0;
  padding: 70px 16px 67px;
  border: none;
  overflow: unset;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel {
    padding: 50px 0;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .button-container {
  margin: 0;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* width: 308px; */

  /* height: 308px; */
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  gap: 10px;
  padding: 11px;
  margin: 0 auto;
  border-radius: 499.947px;
  border: 0.926px dashed var(--pwm-gold-700);
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte {
    max-width: 500px;
    max-height: 500px;

    /* max-width: 54.825%; */

    /* max-height: 54.825%; */
    justify-content: center;
    align-items: center;
    padding: 40.87px;
    gap: 16px;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item {
  /* width: 137px; */

  /* height: 137px; */
  width: 48%;
  height: 48%;
  aspect-ratio: 1/1;
  display: inline-block;
  position: relative;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item .inner-content-1 .child-item {
  line-height: 0;
  height: 100%;
  display: block;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item .inner-content-1 .child-item img {
  /* width: 137px; */

  /* height: 137px; */
  width: 100%;
  height: 100%;
  position: absolute;
  aspect-ratio: 1/1;
  filter: grayscale(100%);
  animation: highlightimage 8s infinite;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item .inner-content-2 {
    min-width: 154px;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item .inner-content-2 .child-item {
  position: absolute;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item .inner-content-2 .child-item, .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item .inner-content-2 .child-item strong {
  margin: 0;
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  color: var(--neutrals-800);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item .inner-content-2 .child-item strong {
  animation: highlighttext 8s infinite;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(1) .inner-content-1 img {
  border-top-left-radius: 100%;
          mask-image: radial-gradient(circle at 104% 102%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(1) .inner-content-2 .child-item {
  top: -62px;
  left: -11px;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(1) .inner-content-2 .child-item {
    top: 0;
    left: -110px;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(1) .inner-content-1 img,
.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(1) .inner-content-2 p strong {
  animation-delay: 0s;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(2) .inner-content-1 img {
  border-top-right-radius: 100%;
          mask-image: radial-gradient(circle at -4% 102%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(2) .inner-content-2 .child-item {
  top: -62px;
  right: -11px;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(2) .inner-content-2 .child-item {
    top: 0;
    right: -154px;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(2) .inner-content-1 img,
.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(2) .inner-content-2 p strong {
  animation-delay: 2s;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(3) .inner-content-1 img {
  border-bottom-left-radius: 100%;
          mask-image: radial-gradient(circle at 104% -2%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(3) .inner-content-2 .child-item {
  bottom: -51px;
  left: -11px;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(3) .inner-content-2 .child-item {
    bottom: 0;
    left: -110px;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(3) .inner-content-1 img,
.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(3) .inner-content-2 p strong {
  animation-delay: 6s;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(4) .inner-content-1 img {
  border-bottom-right-radius: 100%;
          mask-image: radial-gradient(circle at -4% -2%, transparent 43%, black 43.5%);
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(4) .inner-content-2 .child-item {
  bottom: -51px;
  right: -11px;
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(4) .inner-content-2 .child-item {
    bottom: 0;
    right: -154px;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(4) .inner-content-1 img,
.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-item:nth-of-type(4) .inner-content-2 p strong {
  animation-delay: 4s;
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-text {
  position: absolute;

  /* max-width: 41.776%; */
  max-width: 128px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-text {
    max-width: 179px;
  }
}

.section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-text .center-text {
  margin: 0;
  text-align: center;
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--semibold);
}

@media (width >= 768px) {
  .section.sharper-focus .tabs-wrapper .tabs-panel .custom-rte .circle-text .center-text {
    font-family: var(--title);
    font-size: var(--heading-h6-size);
    line-height: var(--heading-h6-line-height);
  }
}