// @use "../../../styles/fonts.css";
@use "sass:map";
@import "../../../styles/common-theme/css/fonts.css";

// ----------------------------------------
// FONTS
// ----------------------------------------
$inter: "Inter", sans-serif;
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  heavy: 900
);

// Font mixin
@mixin font-style($size, $line-height, $color, $weight: null, $family: $body) {
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-family: $family;
  font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

  @if $weight != 'null' {
    font-weight: $weight;
  }
}

// ----------------------------------------
// BORDER RADIUS
// ----------------------------------------

$radius: (
  r4: 4px,
  r8: 8px,
  r12: 12px,
  r14: 14px,
  r16: 16px,
  r24: 24px,
  r26: 26px,
  r32: 32px,
  r37: 37px,
  r40: 40px,
  r41: 41px,
  r52: 52px,
  r83: 83px,
  r100: 100px,
  r50: 50%
);

// ----------------------------------------
// SPACING
// ----------------------------------------

$spacing: (
  xxs: 4px,
  xs: 8px,
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 32px,
  xxl: 40px,
);

// ----------------------------------------
// BREAKPOINTS
// ----------------------------------------

$breakpoints: (
  mobile-sm: 361px,
  mobile-md: 391px,
  mobile: 768px,
  mobile-ed: 899px,
  tab: 1025px,
  desktop-sm: 1299px,
  desktop-md: 1367px,
  desktop-lg: 1681px,
  desktop-xl: 1921px
);


// // Media query mixin using map.get

@mixin media($breakpoint) {
  $bp: map.get($breakpoints, $breakpoint);

  @media (max-width: #{$bp}) {
    @content;
  }
}

// ----------------------------------------
// FLEXBOX UTILITIES
// ----------------------------------------

@mixin flex-center($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}