// @use "../../../styles/fonts.css";
@use "sass:map";
@import "../../../styles/common-theme/css/fonts.css";

// Font mixin
@mixin font-style($size, $line-height, $color, $weight: null, $family: $body) {
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-family: $family;
  font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

  @if $weight != 'null' {
    font-weight: $weight;
  }
}

// ----------------------------------------
// BREAKPOINTS
// ----------------------------------------

$breakpoints: (
  mobile-sm-up: 361px,
  mobile-md-up: 391px,
  tablet-up: 768px,
  tablet-lg-up: 899px,
  desktop-up: 1025px,
  desktop-md-up: 1299px,
  desktop-lg-up: 1367px,
  desktop-xl-up: 1681px,
  desktop-xxl-up: 1921px
);


// // Media query mixin using map.get

@mixin media($breakpoint) {
  $bp: map.get($breakpoints, $breakpoint);

  @media (min-width: #{$bp}) {
    @content;
  }
}

// ----------------------------------------
// FLEXBOX UTILITIES
// ----------------------------------------

@mixin flex-center($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}