@import "../../../styles/common-theme/css/fonts.css";
:root {
  /* Font weight start */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --heavy: 900;
  /* Font weight end */
  /* typeface baseline start */
  --title: "Inter", sans-serif;
  --body: "Inter", sans-serif;
  --weight-regular: "Regular";
  --weight-semibold: "Semibold";
  --weight-medium: "Medium";
  --weight-bold: "Bold";
  --font-features-default:
    "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on,
    "cv09" on, "cv10" on, "cv11" on;
  /* typeface baseline end */
  /* Size tokens mode start */
  --spacing-none: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-72: 72px;
  --border-radius-none: 0px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-24: 24px;
  --border-radius-circle: 1000px;
  --border-width-none: 0px;
  --border-width-01: 1px;
  --border-width-02: 2px;
  --spacing-48: 48px;
  --spacing-36: 36px;
  --spacing-44: 44px;
  --spacing-56: 56px;
  --spacing-28: 28px;
  --spacing-20: 20px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-76: 76px;
  --spacing-80: 80px;
  /* Size tokens mode end */
  /* Colors start */
  --neutrals-black: #111111;
  --neutrals-900: #212121;
  --green-900: #004c15;
  --yellow-900: #f57f16;
  --red-900: #a00000;
  --green-800: #006029;
  --green-700: #09743d;
  --blue-1-900: #242177;
  --blue-2-900: #072b4a;
  --red-800: #b40000;
  --blue-1-800-primary: #2e2a94;
  --blue-1-700: #332ab5;
  --blue-1-600: #382ad7;
  --blue-1-500: #4338f3;
  --blue-1-400: #5659fa;
  --blue-1-300: #7986fd;
  --blue-1-200: #9dadfe;
  --blue-1-100: #bdcbff;
  --blue-1-50: #d5deff;
  --blue-1-25: #edf1ff;
  --blue-2-800: #073d67;
  --blue-2-700: #064d84;
  --blue-2-600: #045d9e;
  --blue-2-500-primary: #006eb9;
  --blue-2-400: #1887d2;
  --blue-2-300: #33a3ee;
  --blue-2-200: #61c0ff;
  --blue-2-100: #96d5ff;
  --blue-2-50: #c2e7ff;
  --blue-2-25: #e1f3ff;
  --yellow-800: #f79014;
  --yellow-700: #f9a212;
  --yellow-600-main-1: #faad19;
  --yellow-500: #fcbd0d;
  --yellow-400-main-2: #ffcf00;
  --yellow-300: #ffde0f;
  --yellow-200: #ffee41;
  --yellow-100: #fffa86;
  --yellow-50: #fffec0;
  --yellow-25: #fffee7;
  --orange-900: #cc3f02;
  --orange-800: #d85002;
  --red-700: #c8000a;
  --red-600: #dc111e;
  --red-500-primary: #ee212e;
  --red-400: #ff3542;
  --red-300: #ff5360;
  --red-200: #ff8592;
  --red-100: #ffa3b0;
  --red-50: #ffc1ce;
  --red-25: #ffdfec;
  --orange-700: #e36201;
  --orange-600: #f07a07;
  --orange-500-primary: #fb8c00;
  --orange-400: #ff9800;
  --orange-300: #ffa726;
  --orange-200: #ffb74d;
  --orange-100: #ffcc80;
  --orange-50: #ffe0b2;
  --orange-25: #fff3e0;
  --green-600: #068c46;
  --green-500-primary: #00a850;
  --green-400: #07cc64;
  --green-300: #22e17c;
  --green-200: #47f297;
  --green-100: #7cfbb8;
  --green-50: #acffd3;
  --green-25: #d4ffe8;
  --neutrals-800: #424242;
  --neutrals-700: #616161;
  --neutrals-600: #757575;
  --neutrals-500: #9e9e9e;
  --neutrals-400: #bdbdbd;
  --neutrals-300: #e0e0e0;
  --neutrals-200: #eeeeee;
  --neutrals-100: #f5f5f5;
  --neutrals-50: #fafafa;
  --neutrals-white: #ffffff;
  --pwm-gold-900: #5d4f2e;
  --pwm-gold-800: #725e38;
  --pwm-gold-700: #866e44;
  --pwm-gold-600: #ab8c50;
  --pwm-gold-500: #c2aa74;
  --pwm-gold-400: #d9c8a8;
  --pwm-gold-300: #ede2cc;
  --pwm-gold-200: #f0e6dc;
  --pwm-gold-100: #f8f3ef;
  /* Colors end */
  /* semantic light start */
  --text-header: var(--blue-1-600);
  --text-sub-header: var(--neutrals-900);
  --surface-background: var(--neutrals-white);
  --strokes-information: var(--blue-2-500-primary);
  --text-button-default: var(--blue-1-800-primary);
  --text-body: var(--neutrals-800);
  --icon-primary: var(--blue-1-800-primary);
  --icon-secondary: var(--blue-1-100);
  --icon-black: var(--neutrals-black);
  --surface-mid-ground: var(--neutrals-200);
  --button-primary-default: var(--blue-1-800-primary);
  --text-button-hover: var(--blue-1-600);
  --text-button-pressed: var(--blue-1-900);
  --icon-white: var(--neutrals-white);
  --icon-disabled: var(--neutrals-500);
  --text-information: var(--blue-2-500-primary);
  --text-success: var(--green-500-primary);
  --text-warning: var(--yellow-600-main-1);
  --text-error: var(--red-600);
  --surface-primary: var(--blue-1-600);
  --surface-success: var(--green-50);
  --text-white: var(--neutrals-white);
  --text-black: var(--neutrals-black);
  --surface-warning: var(--orange-50);
  --surface-error: var(--red-50);
  --surface-disabled: var(--neutrals-50);
  --surface-action: var(--blue-1-400);
  --surface-action-hover: var(--blue-1-700);
  --surface-action-hover-2: var(--blue-1-100);
  --strokes-success: var(--green-500-primary);
  --strokes-warning: var(--orange-500-primary);
  --strokes-error: var(--red-500-primary);
  --button-primary-hover: var(--blue-1-600);
  --button-primary-pressed: var(--blue-1-900);
  --button-primary-focus: var(--blue-1-700);
  --button-primary-disable: var(--neutrals-300);
  --strokes-default: var(--neutrals-500);
  --strokes-disabled: var(--neutrals-400);
  --surface-selected: var(--blue-1-25);
  --strokes-selected: var(--blue-1-600);
  --text-body-2: var(--neutrals-700);
  --icon-information: var(--blue-2-500-primary);
  --icon-error: var(--red-500-primary);
  --icon-warning: var(--orange-500-primary);
  --icon-success: var(--green-500-primary);
  --surface-infomation: var(--blue-2-50);
  --strokes-typing: var(--blue-2-400);
  --text-default-input: var(--neutrals-700);
  --icon-default: var(--neutrals-900);
  --text-text-link: var(--blue-1-800-primary);
  --text-disclaimer: var(--neutrals-700);
  --text-typed-input: var(--neutrals-black);
  --text-button-focus: var(--blue-1-700);
  --text-button-disabled: var(--neutrals-500);
  /* semantic light end */
  /* typescale mobile start */
  --body-xlarge-bold-font: var(--body);
  --body-xlarge-bold-weight: var(--weight-semibold);
  --body-xlarge-bold-size: var(--spacing-20);
  --body-xlarge-bold-line-height: var(--spacing-24);
  --label-large-font: var(--body);
  --label-large-weight: var(--weight-regular);
  --label-large-size: var(--spacing-16);
  --label-large-line-height: var(--spacing-20);
  --heading-h1-font: var(--title);
  --heading-h1-weight: var(--weight-semibold);
  --heading-h1-size: var(--spacing-36);
  --heading-h1-line-height: var(--spacing-44);
  --heading-h2-font: var(--title);
  --heading-h2-weight: var(--weight-semibold);
  --heading-h2-line-height: var(--spacing-40);
  --heading-h3-font: var(--title);
  --heading-h3-weight: var(--weight-semibold);
  --heading-h3-size: var(--spacing-32);
  --heading-h3-line-height: var(--spacing-40);
  --heading-h4-font: var(--title);
  --heading-h4-weight: var(--weight-semibold);
  --heading-h4-size: var(--spacing-28);
  --heading-h4-line-height: var(--spacing-36);
  --heading-h5-font: var(--title);
  --heading-h5-weight: var(--weight-semibold);
  --heading-h5-size: var(--spacing-24);
  --heading-h5-line-height: var(--spacing-28);
  --sub-header-large-font: var(--body);
  --sub-header-large-weight: var(--weight-medium);
  --sub-header-large-line-height: var(--spacing-32);
  --sub-header-medium-font: var(--body);
  --sub-header-medium-weight: var(--weight-medium);
  --sub-header-medium-size: 18px;
  --sub-header-medium-line-height: var(--spacing-24);
  --body-xlarge-semibold-font: var(--body);
  --body-xlarge-semibold-weight: var(--weight-medium);
  --body-xlarge-semibold-size: var(--spacing-20);
  --body-xlarge-semibold-line-height: var(--spacing-24);
  --body-xlarge-regular-font: var(--body);
  --body-xlarge-regular-weight: var(--weight-regular);
  --body-xlarge-regular-size: var(--spacing-20);
  --body-xlarge-regular-line-height: var(--spacing-24);
  --body-large-semibold-font: var(--body);
  --body-large-semibold-weight: var(--weight-semibold);
  --body-large-semibold-size: 18px;
  --body-large-semibold-line-height: var(--spacing-24);
  --body-large-medium-font: var(--body);
  --body-large-medium-weight: var(--weight-medium);
  --body-large-medium-size: 18px;
  --body-large-medium-line-height: var(--spacing-24);
  --body-large-regular-font: var(--body);
  --body-large-regular-weight: var(--weight-regular);
  --body-large-regular-size: 18px;
  --body-large-regular-line-height: var(--spacing-24);
  --body-medium-semibold-font: var(--body);
  --body-medium-semibold-weight: var(--weight-semibold);
  --body-medium-semibold-size: var(--spacing-16);
  --body-medium-semibold-line-height: var(--spacing-20);
  --body-medium-medium-font: var(--body);
  --body-medium-medium-weight: var(--weight-medium);
  --body-medium-medium-size: var(--spacing-16);
  --body-medium-medium-line-height: var(--spacing-20);
  --body-medium-regular-font: var(--body);
  --body-medium-regular-weight: var(--weight-regular);
  --body-medium-regular-size: var(--spacing-16);
  --body-medium-regular-line-height: var(--spacing-20);
  --body-small-semibold-font: var(--body);
  --body-small-semibold-weight: var(--weight-semibold);
  --body-small-semibold-size: 14px;
  --body-small-semibold-line-height: var(--spacing-16);
  --body-small-medium-font: var(--body);
  --body-small-medium-weight: var(--weight-medium);
  --body-small-medium-size: 14px;
  --body-small-medium-line-height: var(--spacing-16);
  --body-small-regular-font: var(--body);
  --body-small-regular-weight: var(--weight-regular);
  --body-small-regular-size: 14px;
  --body-small-regular-line-height: var(--spacing-16);
  --button-large-font: var(--body);
  --button-large-weight: var(--weight-semibold);
  --button-large-size: var(--spacing-16);
  --button-large-line-height: var(--spacing-24);
  --button-medium-font: var(--body);
  --button-medium-weight: var(--weight-semibold);
  --button-medium-size: var(--spacing-16);
  --button-medium-line-height: var(--spacing-20);
  --button-small-font: var(--body);
  --button-small-weight: var(--weight-semibold);
  --button-small-size: var(--spacing-12);
  --button-small-line-height: var(--spacing-20);
  --label-medium-font: var(--body);
  --label-medium-weight: var(--weight-regular);
  --label-medium-line-height: var(--spacing-16);
  --label-small-font: var(--body);
  --label-small-weight: var(--weight-regular);
  --label-small-size: var(--spacing-12);
  --label-small-line-height: var(--spacing-16);
  --paragraph-xlarge-regular-font: var(--body);
  --paragraph-xlarge-regular-weight: var(--weight-regular);
  --paragraph-xlarge-regular-size: var(--spacing-20);
  --paragraph-xlarge-regular-line-height: var(--spacing-32);
  --paragraph-large-regular-font: var(--body);
  --paragraph-large-regular-weight: var(--weight-regular);
  --paragraph-large-regular-line-height: var(--spacing-28);
  --paragraph-medium-regular-font: var(--body);
  --paragraph-medium-regular-weight: var(--weight-regular);
  --paragraph-medium-regular-size: var(--spacing-16);
  --paragraph-medium-regular-line-height: var(--spacing-24);
  --paragraph-small-regular-font: var(--body);
  --paragraph-small-regular-weight: var(--weight-regular);
  --paragraph-small-regular-size: var(--spacing-14);
  --paragraph-small-regular-line-height: var(--spacing-20);
  --paragraph-xsmall-regular-font: var(--body);
  --paragraph-xsmall-regular-weight: var(--weight-regular);
  --paragraph-xsmall-regular-size: var(--spacing-12);
  --paragraph-xsmall-regular-line-height: var(--spacing-16);
  --text-link-xlarge-font: var(--body);
  --text-link-xlarge-weight: var(--weight-regular);
  --text-link-xlarge-size: var(--spacing-20);
  --text-link-xlarge-line-height: var(--spacing-32);
  --text-link-large-font: var(--body);
  --text-link-large-weight: var(--weight-regular);
  --text-link-large-line-height: var(--spacing-28);
  --text-link-medium-font: var(--body);
  --text-link-medium-weight: var(--weight-regular);
  --text-link-medium-size: var(--spacing-16);
  --text-link-medium-line-height: var(--spacing-24);
  --text-link-small-font: var(--body);
  --text-link-small-weight: var(--weight-regular);
  --text-link-small-line-height: var(--spacing-20);
  --text-link-xsmall-font: var(--body);
  --text-link-xsmall-weight: var(--weight-regular);
  --text-link-xsmall-size: var(--spacing-12);
  --text-link-xsmall-line-height: var(--spacing-16);
  --disclaimer-xsmall-font: var(--body);
  --disclaimer-xsmall-weight: var(--weight-regular);
  --disclaimer-xsmall-size: var(--spacing-12);
  --disclaimer-xsmall-line-height: var(--spacing-16);
  --body-xsmall-semibold-font: var(--body);
  --body-xsmall-semibold-weight: var(--weight-semibold);
  --body-xsmall-semibold-size: var(--spacing-12);
  --body-xsmall-semibold-line-height: 14px;
  --body-xsmall-medium-font: var(--body);
  --body-xsmall-medium-weight: var(--weight-medium);
  --body-xsmall-medium-size: var(--spacing-12);
  --body-xsmall-medium-line-height: 14px;
  --body-xsmall-regular-font: var(--body);
  --body-xsmall-regular-weight: var(--weight-regular);
  --body-xsmall-regular-size: var(--spacing-12);
  --body-xsmall-regular-line-height: 14px;
  --heading-h6-font: var(--title);
  --heading-h6-weight: var(--weight-semibold);
  --heading-h6-size: var(--spacing-20);
  --heading-h6-line-height: var(--spacing-24);
  --paragraph-xlarge-semibold-font: var(--body);
  --paragraph-xlarge-semibold-weight: var(--weight-semibold);
  --paragraph-xlarge-semibold-size: var(--spacing-20);
  --paragraph-xlarge-semibold-line-height: var(--spacing-32);
  --paragraph-large-semibold-font: var(--body);
  --paragraph-large-semibold-weight: var(--weight-semibold);
  --paragraph-large-semibold-line-height: var(--spacing-28);
  --paragraph-medium-semibold-font: var(--body);
  --paragraph-medium-semibold-weight: var(--weight-semibold);
  --paragraph-medium-semibold-size: var(--spacing-16);
  --paragraph-medium-semibold-line-height: var(--spacing-24);
  --paragraph-small-semibold-font: var(--body);
  --paragraph-small-semibold-weight: var(--weight-semibold);
  --paragraph-small-semibold-line-height: var(--spacing-20);
  --paragraph-xsmall-semibold-font: var(--body);
  --paragraph-xsmall-semibold-weight: var(--weight-semibold);
  --paragraph-xsmall-semibold-size: var(--spacing-12);
  --paragraph-xsmall-semibold-line-height: var(--spacing-16);
  --heading-h-font: var(--title);
  --heading-h-weight: var(--weight-semibold);
  --heading-h-size: var(--spacing-20);
  --heading-h-line-height: var(--spacing-24);
  --heading-pwm-h4-font: var(--title);
  --heading-pwm-h4-weight: var(--weight-regular);
  --heading-pwm-h4-size: var(--spacing-28);
  --heading-pwm-h4-line-height: var(--spacing-36);
  --heading-pwm-h5-font: var(--title);
  --heading-pwm-h5-weight: var(--weight-regular);
  --heading-pwm-h5-size: var(--spacing-24);
  --heading-pwm-h5-line-height: var(--spacing-28);
  --heading-pwm-h6-font: var(--title);
  --heading-pwm-h6-weight: var(--weight-regular);
  --heading-pwm-h6-size: var(--spacing-20);
  --heading-pwm-h6-line-height: var(--spacing-24);
  --sub-header-pwm-large-font: var(--body);
  --sub-header-pwm-large-weight: var(--weight-regular);
  --sub-header-pwm-large-line-height: var(--spacing-32);
  /* typescale mobile end */
}

@media (min-width: 768px) {
  :root {
    /* typescale desktop start */
    --body-xlarge-bold-font: var(--body);
    --body-xlarge-bold-weight: var(--weight-semibold);
    --body-xlarge-bold-size: var(--spacing-20);
    --body-xlarge-bold-line-height: var(--spacing-24);
    --label-large-font: var(--body);
    --label-large-weight: var(--weight-regular);
    --label-large-size: var(--spacing-16);
    --label-large-line-height: var(--spacing-20);
    --heading-h1-font: var(--title);
    --heading-h1-weight: var(--weight-semibold);
    --heading-h1-size: var(--spacing-48);
    --heading-h1-line-height: var(--spacing-56);
    --heading-h2-font: var(--title);
    --heading-h2-weight: var(--weight-semibold);
    --heading-h2-size: var(--spacing-40);
    --heading-h2-line-height: var(--spacing-48);
    --heading-h3-font: var(--title);
    --heading-h3-weight: var(--weight-semibold);
    --heading-h3-size: var(--spacing-36);
    --heading-h3-line-height: var(--spacing-44);
    --heading-h4-font: var(--title);
    --heading-h4-weight: var(--weight-semibold);
    --heading-h4-size: var(--spacing-32);
    --heading-h4-line-height: var(--spacing-40);
    --heading-h5-font: var(--title);
    --heading-h5-weight: var(--weight-semibold);
    --heading-h5-size: var(--spacing-28);
    --heading-h5-line-height: var(--spacing-32);
    --sub-header-large-font: var(--body);
    --sub-header-large-weight: var(--weight-medium);
    --sub-header-large-size: var(--spacing-24);
    --sub-header-large-line-height: var(--spacing-32);
    --sub-header-medium-font: var(--body);
    --sub-header-medium-weight: var(--weight-medium);
    --sub-header-medium-size: var(--spacing-20);
    --sub-header-medium-line-height: var(--spacing-28);
    --body-xlarge-semibold-font: var(--body);
    --body-xlarge-semibold-weight: var(--weight-medium);
    --body-xlarge-semibold-size: var(--spacing-20);
    --body-xlarge-semibold-line-height: var(--spacing-24);
    --body-xlarge-regular-font: var(--body);
    --body-xlarge-regular-weight: var(--weight-regular);
    --body-xlarge-regular-size: var(--spacing-20);
    --body-xlarge-regular-line-height: var(--spacing-24);
    --body-large-semibold-font: var(--body);
    --body-large-semibold-weight: var(--weight-semibold);
    --body-large-semibold-size: 18px;
    --body-large-semibold-line-height: var(--spacing-24);
    --body-large-medium-font: var(--body);
    --body-large-medium-weight: var(--weight-medium);
    --body-large-medium-size: 18px;
    --body-large-medium-line-height: var(--spacing-24);
    --body-large-regular-font: var(--body);
    --body-large-regular-weight: var(--weight-regular);
    --body-large-regular-size: 18px;
    --body-large-regular-line-height: var(--spacing-24);
    --body-medium-semibold-font: var(--body);
    --body-medium-semibold-weight: var(--weight-semibold);
    --body-medium-semibold-size: var(--spacing-16);
    --body-medium-semibold-line-height: var(--spacing-20);
    --body-medium-medium-font: var(--body);
    --body-medium-medium-weight: var(--weight-medium);
    --body-medium-medium-size: var(--spacing-16);
    --body-medium-medium-line-height: var(--spacing-20);
    --body-medium-regular-font: var(--body);
    --body-medium-regular-weight: var(--weight-regular);
    --body-medium-regular-size: var(--spacing-16);
    --body-medium-regular-line-height: var(--spacing-20);
    --body-small-semibold-font: var(--body);
    --body-small-semibold-weight: var(--weight-semibold);
    --body-small-semibold-size: 14px;
    --body-small-semibold-line-height: var(--spacing-16);
    --body-small-medium-font: var(--body);
    --body-small-medium-weight: var(--weight-medium);
    --body-small-medium-size: 14px;
    --body-small-medium-line-height: var(--spacing-16);
    --body-small-regular-font: var(--body);
    --body-small-regular-weight: var(--weight-regular);
    --body-small-regular-size: 14px;
    --body-small-regular-line-height: var(--spacing-16);
    --button-large-font: var(--body);
    --button-large-weight: var(--weight-semibold);
    --button-large-line-height: var(--spacing-20);
    --button-medium-font: var(--body);
    --button-medium-weight: var(--weight-semibold);
    --button-medium-size: var(--spacing-16);
    --button-medium-line-height: var(--spacing-20);
    --button-large-size: var(--spacing-18);
    --button-large-line-height: var(--spacing-20);
    --button-small-font: var(--body);
    --button-small-weight: var(--weight-semibold);
    --button-small-line-height: var(--spacing-16);
    --label-medium-font: var(--body);
    --label-medium-weight: var(--weight-regular);
    --label-medium-line-height: var(--spacing-16);
    --label-small-font: var(--body);
    --label-small-weight: var(--weight-regular);
    --label-small-size: var(--spacing-12);
    --label-small-line-height: var(--spacing-16);
    --paragraph-xlarge-regular-font: var(--body);
    --paragraph-xlarge-regular-weight: var(--weight-regular);
    --paragraph-xlarge-regular-size: var(--spacing-20);
    --paragraph-xlarge-regular-line-height: var(--spacing-32);
    --paragraph-large-regular-font: var(--body);
    --paragraph-large-regular-weight: var(--weight-regular);
    --paragraph-large-regular-line-height: var(--spacing-28);
    --paragraph-medium-regular-font: var(--body);
    --paragraph-medium-regular-weight: var(--weight-regular);
    --paragraph-medium-regular-size: var(--spacing-16);
    --paragraph-medium-regular-line-height: var(--spacing-24);
    --paragraph-small-regular-font: var(--body);
    --paragraph-small-regular-weight: var(--weight-regular);
    --paragraph-small-regular-line-height: var(--spacing-20);
    --paragraph-xsmall-regular-font: var(--body);
    --paragraph-xsmall-regular-weight: var(--weight-regular);
    --paragraph-xsmall-regular-size: var(--spacing-12);
    --paragraph-xsmall-regular-line-height: var(--spacing-16);
    --text-link-xlarge-font: var(--body);
    --text-link-xlarge-weight: var(--weight-regular);
    --text-link-xlarge-size: var(--spacing-20);
    --text-link-xlarge-line-height: var(--spacing-32);
    --text-link-large-font: var(--body);
    --text-link-large-weight: var(--weight-regular);
    --text-link-large-line-height: var(--spacing-28);
    --text-link-medium-font: var(--body);
    --text-link-medium-weight: var(--weight-regular);
    --text-link-medium-size: var(--spacing-16);
    --text-link-medium-line-height: var(--spacing-24);
    --text-link-small-font: var(--body);
    --text-link-small-weight: var(--weight-regular);
    --text-link-small-line-height: var(--spacing-20);
    --text-link-xsmall-font: var(--body);
    --text-link-xsmall-weight: var(--weight-regular);
    --text-link-xsmall-size: var(--spacing-12);
    --text-link-xsmall-line-height: var(--spacing-16);
    --disclaimer-xsmall-font: var(--body);
    --disclaimer-xsmall-weight: var(--weight-regular);
    --disclaimer-xsmall-size: var(--spacing-12);
    --disclaimer-xsmall-line-height: var(--spacing-16);
    --body-xsmall-semibold-font: var(--body);
    --body-xsmall-semibold-weight: var(--weight-semibold);
    --body-xsmall-semibold-size: var(--spacing-12);
    --body-xsmall-semibold-line-height: 14px;
    --body-xsmall-medium-font: var(--body);
    --body-xsmall-medium-weight: var(--weight-medium);
    --body-xsmall-medium-size: var(--spacing-12);
    --body-xsmall-medium-line-height: 14px;
    --body-xsmall-regular-font: var(--body);
    --body-xsmall-regular-weight: var(--weight-regular);
    --body-xsmall-regular-size: var(--spacing-12);
    --body-xsmall-regular-line-height: 14px;
    --heading-h6-font: var(--title);
    --heading-h6-weight: var(--weight-semibold);
    --heading-h6-size: var(--spacing-24);
    --heading-h6-line-height: var(--spacing-28);
    --paragraph-xlarge-semibold-font: var(--body);
    --paragraph-xlarge-semibold-weight: var(--weight-semibold);
    --paragraph-xlarge-semibold-size: var(--spacing-20);
    --paragraph-xlarge-semibold-line-height: var(--spacing-32);
    --paragraph-large-semibold-font: var(--body);
    --paragraph-large-semibold-weight: var(--weight-semibold);
    --paragraph-large-semibold-line-height: var(--spacing-28);
    --paragraph-medium-semibold-font: var(--body);
    --paragraph-medium-semibold-weight: var(--weight-semibold);
    --paragraph-medium-semibold-size: var(--spacing-16);
    --paragraph-medium-semibold-line-height: var(--spacing-24);
    --paragraph-small-semibold-font: var(--body);
    --paragraph-small-semibold-weight: var(--weight-semibold);
    --paragraph-small-semibold-line-height: var(--spacing-20);
    --paragraph-xsmall-semibold-font: var(--body);
    --paragraph-xsmall-semibold-weight: var(--weight-semibold);
    --paragraph-xsmall-semibold-size: var(--spacing-12);
    --paragraph-xsmall-semibold-line-height: var(--spacing-16);
    --heading-h-font: var(--title);
    --heading-h-weight: var(--weight-semibold);
    --heading-h-size: var(--spacing-64);
    --heading-h-line-height: var(--spacing-76);
    --heading-pwm-h4-font: var(--title);
    --heading-pwm-h4-weight: var(--weight-regular);
    --heading-pwm-h4-size: var(--spacing-32);
    --heading-pwm-h4-line-height: var(--spacing-40);
    --heading-pwm-h5-font: var(--title);
    --heading-pwm-h5-weight: var(--weight-regular);
    --heading-pwm-h5-size: var(--spacing-28);
    --heading-pwm-h5-line-height: var(--spacing-32);
    --heading-pwm-h6-font: var(--title);
    --heading-pwm-h6-weight: var(--weight-regular);
    --heading-pwm-h6-size: var(--spacing-24);
    --heading-pwm-h6-line-height: var(--spacing-28);
    --sub-header-pwm-large-font: var(--body);
    --sub-header-pwm-large-weight: var(--weight-regular);
    --sub-header-pwm-large-size: var(--spacing-24);
    --sub-header-pwm-large-line-height: var(--spacing-32);
    /* typescale desktop end */
  }
}/*# sourceMappingURL=tokens-variable.css.map */