@charset "UTF-8";
/* Inter Light (300) */
@font-face {
  font-family: Inter;
  font-style: "Italic";
  font-weight: 300;
  font-display: swap;
  src: url("../../../fonts/Inter-LightItalic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Light (400) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/Inter-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Bold (500) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../../fonts/Inter-Medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Bold (600) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../../fonts/Inter-SemiBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Bold (700) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../../fonts/Inter-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter ExtraBold (800) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../../fonts/Inter-ExtraBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 
.section.careers-rte .custom-rte {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
}
@media (min-width: ) {
  .section.careers-rte .custom-rte {
    gap: var(--spacing-40);
  }
}
.section.careers-rte .custom-rte {
  /* ===== Intro paragraph (first row) ===== */
}
.section.careers-rte .custom-rte .careers-intro {
  width: 870px;
}
@media (min-width: ) {
  .section.careers-rte .custom-rte .careers-intro {
    width: 340px;
  }
}
.section.careers-rte .custom-rte .careers-intro .careers-col .careers-para {
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
  font-style: normal;
  margin: 0;
}
.section.careers-rte .custom-rte {
  /* ===== Content blocks (rows 2, 3, 4 …) ===== */
}
.section.careers-rte .custom-rte .careers-block .careers-col {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}
.section.careers-rte .custom-rte .careers-block .careers-col .careers-heading {
  font-size: var(--sub-header-large-size);
  line-height: var(--sub-header-large-line-height);
  color: var(--pwm-gold-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--medium);
  font-style: normal;
  margin: 0;
}
.section.careers-rte .custom-rte .careers-block .careers-col .careers-para {
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
  font-style: normal;
  margin: 0;
}
.section.careers-rte .custom-rte .careers-block .careers-col .careers-list {
  margin: var(--spacing-4) 0 0;
  padding: 0 0 0 var(--spacing-8);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
.section.careers-rte .custom-rte .careers-block .careers-col .careers-list .careers-list-item {
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
  display: flex;
  align-items: baseline;
  gap: var(--spacing-10);
}
.section.careers-rte .custom-rte .careers-block .careers-col .careers-list .careers-list-item::before {
  content: "";
  background-color: var(--blue-1-800-primary);
  min-width: var(--spacing-4);
  height: var(--spacing-4);
  display: block;
  border-radius: 50%;
}/*# sourceMappingURL=careers-rte.css.map */