@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.who-we-are {
  .custom-rte {
    &-wrapper {
      padding: 40px 16px;
      max-width: 1264px;
      width: 100%;

      @include media(tablet-up) {
        max-width: 1264px;
        padding: 31px 16px 133px;
      }
    }

    & {
      display: flex;
      flex-direction: column;
      gap: 37px;

      @include media(tablet-up) {
        flex-direction: row;
        align-items: center;
        gap: 25px;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .who-we-are {
        &-1 {
          @include media(tablet-up) {
            max-width: 46.096%;
            // max-width: 340px;
            width: 100%;
          }
          
          @include media(desktop-up){
            max-width: 340px;
          }

          .innercontent-1 {
            .item-1 {
              margin: 0 0 8px;

              @include font-style(
                var(--body-medium-medium-size),
                var(--body-medium-medium-line-height),
                var(--pwm-gold-700),
                var(--medium),
                var(--body)
              );

              @include media(tablet-up){
                font-size: var(--body-medium-medium-size);
                line-height: var(--body-medium-medium-line-height);
              }
            }

            .item-2 {
              margin: 0;

              @include font-style(
                20px,
                24px,
                var(--blue-1-800-primary),
                var(--regular),
                var(--title)
              );

              @include media(tablet-up) {
                font-size: var(--heading-pwm-h6-size);
                line-height: var(--heading-pwm-h6-line-height);
              }
            }
          }
        }

        &-2 {
          @include media(tablet-up){
            // max-width: 372px;
            max-width: 50.434%;
          }

          @include media(desktop-up) {
            /* max-width: 43.978%; */
            max-width: 544px;
            width: 100%;
          }

          .innercontent-1 {
            .item-1 {
              margin: 0;
              padding: 0;
              display: flex;
              flex-direction: column;
              gap: 37px;
              list-style: none;

              @include media(tablet-up) {
                flex-direction: unset;
                flex-wrap: wrap;
                gap: 55px 50px;
              }

              .listitem {
                @include font-style(
                  36px,
                  40px,
                  var(--pwm-gold-700),
                  var(--semibold),
                  var(--title)
                );

                @include media (tablet-up) {
                  flex-basis: 42.406%;
                  font-size: var(--heading-h2-size);
                  line-height: var(--heading-h2-line-height);
                }
                
                @include media(desktop-up){
                  flex-basis: 45.406%;
                }

                .innerlist-1 {
                  margin: 0;
                  list-style: none;

                  .inneritem-1 {
                    margin: 8px 0 0;

                    @include font-style(
                      var(--body-medium-regular-size),
                      var(--body-medium-regular-line-height),
                      var(--blue-1-800-primary),
                      var(--regular),
                      var(--body)
                    );

                    @include media (tablet-up) {
                      margin: 14px 0 0;
                      color: var(--neutrals-700);
                      font-size: var(--body-medium-regular-size);
                      line-height: var(--body-medium-regular-line-height);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
