.section.young-titans-forum .titans-forum-wrapper {
    max-width: 100%;
    padding: 0;
}

.section.young-titans-forum .titans-forum-wrapper *{
    margin: 0;
}

.section.young-titans-forum .titans-forum-wrapper >div{
    position: relative;
}

.section.young-titans-forum .titans-forum >div div:first-of-type picture{
    line-height: 0;
    height: 100%;
    display: block;
}

.section.young-titans-forum .titans-forum >div div:first-of-type p:first-of-type{
    display: none;
}

.section.young-titans-forum .titans-forum >div div:last-of-type{
    position: absolute;
    top: 0;
}