@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.curated-content-container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--pwm-gold-100);

  .curated-content-inner-wrapper {
    max-width: 1366px;
    // max-width: 1237px;
    padding: 48px 68px;
    position: relative;

    @media screen and (max-width: 1025px) {
      padding: 48px 16px;
    }

    @media screen and (max-width: 900px) {
      padding: 40px 16px 80px;
      overflow: hidden;
    }

    .default-content-wrapper {
      margin: 0;
      padding: 0;
      margin-bottom: 32px;

      h4 {
        font-weight: var(--regular);
        letter-spacing: 0%;
        color: var(--pwm-gold-700);
        line-height: var(--heading-pwm-h4-line-height);
        font-size: var(--heading-pwm-h4-size);
        margin: 0;
        @media screen and (max-width: 900px) {
          font-size: 28px;
          line-height: var(--sub-header-large-line-height);
          margin-bottom: 16px;
        }

        strong {
          color: var(--blue-1-800-primary);
          font-weight: var(--regular);
          @media screen and (max-width: 426px) {
            display: block;
          }
        }
      }

      p:not(.button-container) {
        @include font-style(
          var(--body-large-regular-size),
          var(--body-large-regular-line-height),
          var(--blue-1-800-primary),
          var(--regular),
          var(--body)
        );

        @media screen and (max-width: 900px) {
          display: none;
        }
      }
    }

    .curated-content-wrapper {
      margin: 0;
      padding: 0;
      overflow: hidden;
      max-width: 100%;

      .curated-content.block {
        display: flex;

        > .swiper-slide {
          width: auto;
          flex-shrink: 0;
        }

        div {
          height: fit-content;

          div:nth-child(1) {
            width: 100%;
            height: 220px;

            @media screen and (max-width: 900px) {
              height: 180px;
            }

            picture img {
              width: 100%;
              height: 100%;
              border-radius: var(--border-radius-4);
              object-fit: cover;
              object-position: center;
            }
          }
          div:nth-child(3) {
            padding: 24px 0 0 0;

            p:nth-child(1) {
              margin: 0 0 16px 0;
              height: fit-content;
              border-radius: var(--border-radius-4);
              background: var(--pwm-gold-400);
              padding: 8px;
              width: max-content;

              @include font-style(
                var(--body-small-semibold-size),
                var(--body-small-semibold-line-height),
                var(--pwm-gold-900),
                var(--semibold),
                var(--body)
              );

              @media screen and (max-width: 900px) {
                font-size: var(--body-small-semibold-size);
                line-height: var(--body-small-semibold-line-height);  
              }

              // a {
              //   display: inline-flex;
              //   align-items: center;
              //   gap: 4px;
              //   max-width: fit-content;
              //   height: 24px;
              //   font-size: var(--spacing-12);
              //   line-height: var(--spacing-16);
              //   color: var(--blue-1-800-primary);
              //   font-weight: var(--regular);
              //   background-color: transparent;
              //   border: var(--border-width-01) solid var(--pwm-gold-700);
              //   border-radius: var(--border-radius-circle);
              //   padding: 0 8px;
              //   margin: 0;

              //   span {
              //     width: 20px;
              //     height: 20px;
              //     display: flex;

              //     @media screen and (max-width: 900px) {
              //       width: 16px;
              //       height: 16px;
              //     }
              //   }
              // }
            }

            p:nth-child(2) {
              margin: 0 0 4px;

              @include font-style(
                var(--body-large-medium-size),
                var(--body-large-medium-line-height),
                var(--pwm-gold-700),
                var(--medium),
                var(--body)
              );

              @media screen and (max-width: 900px) {
                font-size: var(--body-large-medium-size);
                line-height: var(--body-large-medium-line-height);
              }
            }

            p:nth-child(3) {
              margin: 0;
              @include font-style(
                var(--body-medium-regular-size),
                var(--body-medium-regular-line-height),
                var(--blue-1-800-primary),
                var(--regular),
                var(--body)
              );

              @media screen and (max-width: 900px) {
                font-size: var(--paragraph-medium-regular-size);
                line-height: var(--paragraph-medium-regular-line-height);
              }
            }

            p:nth-child(4) {
              margin: 16px 0 0 0;
              display: flex;
              a {
                all: unset;
                text-decoration: underline;
                text-underline-offset: 2.8px;

                @include font-style(
                  var(--text-link-small-size),
                  var(--text-link-small-line-height),
                  var(--text-text-link),
                  var(--regular),
                  var(--body)
                );

                @media screen and (max-width: 900px) {
                  font-size: var(--text-link-small-size);
                  line-height: var(--text-link-small-line-height);
                }
              }
            }
          }
        }
      }
    }

    .default-content-wrapper:nth-child(3) {
      position: absolute;
      top: 55px;
      right: 68px;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1025px) {
        right: 17px;
      }

      @media screen and (max-width: 900px) {
        position: static;
        margin: 16px 0 0 0;
      }

      p {
        // all: unset;
        margin: 0;
        min-width: 132px;
        max-width: max-content;

        @media screen and (max-width: 900px) {
          min-width: 160px;
        }

        a {
          all: unset;
          display: block;
          padding: var(--spacing-12);
          margin: 0;
          border-radius: var(--border-radius-4);
          background: var(--button-primary-default);
  
          @include font-style(
            var(--button-medium-size),
            var(--button-medium-line-height),
            var(--text-white),
            var(--medium),
            var(--body)
          );
  
          @media screen and (max-width: 900px) {
            // max-width: 160px;
            padding: 12px 32px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
}
