/* Inter Light (300) */
@font-face {
  font-family: Inter;
  font-style: "Italic";
  font-weight: 300;
  font-display: swap;
  src: url("../../../fonts/Inter-LightItalic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Light (400) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/Inter-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Bold (500) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../../fonts/Inter-Medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Bold (600) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../../fonts/Inter-SemiBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter Bold (700) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../../fonts/Inter-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter ExtraBold (800) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../../fonts/Inter-ExtraBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 
.section.curated-content-container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--pwm-gold-100);
}
.section.curated-content-container .curated-content-inner-wrapper {
  max-width: 1366px;
  padding: 48px 68px;
  position: relative;
}
@media screen and (max-width: 1025px) {
  .section.curated-content-container .curated-content-inner-wrapper {
    padding: 48px 16px;
  }
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper {
    padding: 40px 16px 80px;
    overflow: hidden;
  }
}
.section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper h4 {
  font-weight: var(--regular);
  letter-spacing: 0%;
  color: var(--pwm-gold-700);
  line-height: var(--heading-pwm-h4-line-height);
  font-size: var(--heading-pwm-h4-size);
  margin: 0;
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper h4 {
    font-size: 28px;
    line-height: var(--sub-header-large-line-height);
    margin-bottom: 16px;
  }
}
.section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper h4 strong {
  color: var(--blue-1-800-primary);
  font-weight: var(--regular);
}
@media screen and (max-width: 426px) {
  .section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper h4 strong {
    display: block;
  }
}
.section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper p:not(.button-container) {
  font-size: var(--body-large-regular-size);
  line-height: var(--body-large-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper p:not(.button-container) {
    display: none;
  }
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block {
  display: flex;
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block > .swiper-slide {
  width: auto;
  flex-shrink: 0;
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div {
  height: -moz-fit-content;
  height: fit-content;
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(1) {
  width: 100%;
  height: 220px;
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(1) {
    height: 180px;
  }
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(1) picture img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-4);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) {
  padding: 24px 0 0 0;
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(1) {
  margin: 0 0 16px 0;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: var(--border-radius-4);
  background: var(--pwm-gold-400);
  padding: 8px;
  width: -moz-max-content;
  width: max-content;
  font-size: var(--body-small-semibold-size);
  line-height: var(--body-small-semibold-line-height);
  color: var(--pwm-gold-900);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--semibold);
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(1) {
    font-size: var(--body-small-semibold-size);
    line-height: var(--body-small-semibold-line-height);
  }
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(2) {
  margin: 0 0 4px;
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  color: var(--pwm-gold-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--medium);
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(2) {
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
  }
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(3) {
  margin: 0;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(3) {
    font-size: var(--paragraph-medium-regular-size);
    line-height: var(--paragraph-medium-regular-line-height);
  }
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(4) {
  margin: 16px 0 0 0;
  display: flex;
}
.section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(4) a {
  all: unset;
  text-decoration: underline;
  text-underline-offset: 2.8px;
  font-size: var(--text-link-small-size);
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--regular);
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .curated-content-wrapper .curated-content.block div div:nth-child(3) p:nth-child(4) a {
    font-size: var(--text-link-small-size);
    line-height: var(--text-link-small-line-height);
  }
}
.section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper:nth-child(3) {
  position: absolute;
  top: 55px;
  right: 68px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1025px) {
  .section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper:nth-child(3) {
    right: 17px;
  }
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper:nth-child(3) {
    position: static;
    margin: 16px 0 0 0;
  }
}
.section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper:nth-child(3) p {
  margin: 0;
  min-width: 132px;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper:nth-child(3) p {
    min-width: 160px;
  }
}
.section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper:nth-child(3) p a {
  all: unset;
  display: block;
  padding: var(--spacing-12);
  margin: 0;
  border-radius: var(--border-radius-4);
  background: var(--button-primary-default);
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: var(--medium);
}
@media screen and (max-width: 900px) {
  .section.curated-content-container .curated-content-inner-wrapper .default-content-wrapper:nth-child(3) p a {
    padding: 12px 32px;
    font-size: 14px;
    line-height: 16px;
  }
}/*# sourceMappingURL=curated-content.css.map */